/* ************************************************************
******* :: INDEX OF RESPONSIVE CSS :: *******

/* ******************************
:: 1.0 COMMON CSS
****************************** */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150 {
        padding: 100px 0;
    }

    .ptb_100 {
        padding: 70px 0;
    }
}

@media (max-width: 991px) {
    .res-margin {
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {

    .inner-wrapper h1,
    .inner-wrapper h2 {
        font-size: 30px;
    }

    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150,
    .ptb_100 {
        padding: 50px 0;
    }

    .res-margin {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {

    .inner-wrapper h1,
    .inner-wrapper h2 {
        font-size: 24px;
    }

    .avatar-lg {
        height: 4rem;
        width: 4rem;
    }

    .container-fluid {
        padding: 0 3%;
    }

    .ptb_180 {
        padding: 80px 0;
    }
}

/*SECTION HEADING*/
@media (max-width: 991px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 36px;
    }

    .section-heading {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 30px;
        line-height: 1.4;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }

    h2 {
        font-size: 24px;
        line-height: 1.4;
    }

    h3 {
        font-size: 18px;
        line-height: 1.4;
    }

    p {
        line-height: 26px;
    }

    .headings > h2,
    .section-heading > h2 {
        line-height: 1.5;
    }
}

/* ******************************
:: 2.0 HEADER AREA CSS
****************************** */
@media (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding-top: 1.2rem;
        padding-bottom: 0.875rem;
    }

    .navbar-sticky-on .navbar-nav .nav-link {
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
    }
}

@media (max-width: 991px) {
    .main:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: rgb(0 0 0 / 42%);
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s;
    }

    [data-theme=dark] .main:before {
        background: #01081f;
    }

    .canvas-open {
        overflow: hidden;
    }

    .canvas-open .main:before {
        width: 100%;
        opacity: .95;
        visibility: visible;
    }

    .navbar.active {
        display: block;
    }

    .navbar.active .navbar-inner {
        right: 0;
    }

    .navbar .navbar-inner {
        right: -100%;
        -webkit-transition: right 0.3s 0.2s;
        transition: right 0.3s 0.2s;
    }

    .navbar .nav-link {
        border-bottom: 1px solid #eee;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    [data-theme=dark] .navbar .nav-link {
        border-bottom: 1px solid #1E2745;
    }

    .navbar.navbar-dark .nav-link {
        color: #54565a;
        text-shadow: none;
    }

    .navbar.navbar-dark .nav-link-btn{
        color: #fff;
        margin-right: 10px;
        text-align: center;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #f6f8f9;
    }

    .navbar.navbar-dark .nav-link:hover,
    .navbar.navbar-dark .nav-link:focus,
    .navbar.navbar-dark .nav-link.active,
    .navbar.navbar-dark .nav-link.current-menu-item {
        color: #c5a10f;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #e7eaee;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link:hover {
        background: #01081f;
    }

    .navbar-inner {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 20rem;
        padding-top: 2.5rem;
        background-color: #fff;
        -webkit-box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        border-radius: 0;
        overflow-y: auto;
        z-index: 1050;
    }

    [data-theme=dark] .navbar-inner {
        background: #151c32;
    }

    .navbar-inner .dropdown-menu:before {
        content: none;
    }

    .navbar-inner .dropdown-menu {
        border: medium none;
        background: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        float: none;
        margin: 0;
        padding-top: 0;
        position: static;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item {
        color: #f6f8f9;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item:hover {
        background: #01081f;
    }

    .nav-open .main-wrapper {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }

    /*MOBILE NAVBAR TOGGLER*/
    .navbar-toggler {
        position: absolute !important;
        top: auto;
        right: 0;
        bottom: auto;
        left: auto;
        border: none;
        height: 100%;
        width: 3.75rem;
        background-image: none;
        border-radius: 0;
        z-index: 1;
        display: inline-block;
    }

    .navbar-inner .navbar-toggler {
        position: absolute;
        height: 2.5rem;
        top: 0;
    }

    .navbar-toggler-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-image: none !important;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .navbar-toggler-icon {
        height: 3px;
        width: 50%;
        background: #7e8085;
        display: inline-block;
    }

    .navbar-dark .navbar-toggler-icon {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon{
        background: #7e8085;
    }

    .navbar-dark .navbar-toggler-icon.active:before,
    .navbar-dark .navbar-toggler-icon.active:after {
        background: #7e8085;
    }

    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        content: "";
        background: #7e8085;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .navbar-dark .navbar-toggler-icon:before,
    .navbar-dark .navbar-toggler-icon:after {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon:before,
    .navbar-sticky-on .navbar-toggler-icon:after {
        background: #7e8085;
    }

    .navbar-toggler-icon::before {
        top: -0.625rem;
    }

    .navbar-toggler-icon::after {
        top: 0.625rem;
    }

    .navbar-toggler-icon.active {
        background-color: transparent;
        -webkit-transform: scale(0.85) rotate(270deg);
        transform: scale(0.85) rotate(270deg);
    }

    .navbar-toggler-icon.active:before {
        top: 0;
        -webkit-transform: scale(0.65) rotate(45deg);
        transform: scale(0.65) rotate(45deg);
    }

    .navbar-toggler-icon.active:after {
        top: 0;
        -webkit-transform: scale(0.65) rotate(-45deg);
        transform: scale(0.65) rotate(-45deg);
    }
}

@media (max-width: 767px) {
    .homepage-1 .navbar-dark .navbar-toggler-icon.active {
        background-color: transparent;
    }
}

/* ******************************
:: 3.0 WELCOME AREA CSS
****************************** */
@media (min-width: 991px) {
    .homepage-4 .contact-title {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .welcome-area {
        height: 700px !important;
    }

    .welcome-intro > h3 {
        font-size: 28px;
    }
}

@media (max-width: 767px) {

    .homepage-5 .welcome-area {
        padding-bottom: 90px;
    }

    .welcome-intro {
        margin-top: 30px;
    }

    .welcome-intro > h3 {
        font-size: 26px;
    }

    .homepage-6 .welcome-thumb {
        max-width: 250px;
    }
}

@media (max-width: 575px) {
    .welcome-intro {
        margin-top: 0;
    }

    .welcome-intro > h3 {
        font-size: 22px;
    }
    .homepage-1 .welcome-thumb {
        max-width: 200px;
    }
    .welcome-intro h1{
        font-size: 40px;
    }
    .welcome-area{
        /* height: 410px !important; */
        height: 50vh !important;
        background-position: center;
    }
    /* .navbar-brand img{
        max-width: 100px;
    } */

}
/* ******************************
:: 12.0 FOOTER AREA CSS
****************************** */
/* @media only screen and (min-width: 576px) and (max-width: 991px) {
    .footer-items {
        margin-bottom: 30px;
    }
} */

@media (max-width: 575px) {
    .footer-area .footer-items {
        /* margin-bottom: 30px; */
        margin-top: 0;
    }

    .footer-area .col-12:last-of-type .footer-items {
        margin-bottom: 0;
    }
}

/* ******************************
:: 13.0 PREVIEW AREA CSS
****************************** */


@media (max-width: 1199px){
    .navbar .navbar-nav .nav-link{
        padding-left: .6rem;
        padding-right: .6rem;
        text-transform: capitalize;
        font-size: 1.1rem;
    }
    .navbar-dark .navbar-nav .nav-link-btn{
        padding: .8rem 1.5rem !important;
        margin-top: 5px;
    }
    .navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn{
        margin-top: 10px;
    }
    .pgm-image{
        flex: 0 0 100%;
    }
    .pgm-content{
        flex: 0 0 100%;
        margin-top: 40px;
        padding-left: 0;
    }
    .pgm-box{
        flex-direction: column;
        padding: 70px 50px 50px;
    }
    .pgm-image2{
        margin-top: 180px;
    }
    .pgm-content2{
        margin-top: 0;
    }
    .number-img.number-img3{
        bottom: -54px;
    }
    .pgm-content3{
        margin-top: 75px;
    }
    .pgm-image4{
        margin-top: 170px;
    }
    .pgm-content4{
        margin-top: 0;
    }
}

@media(max-width: 991px){
    .navbar .navbar-nav .nav-link{
        padding: 1rem;
    }
    .navbar.navbar-dark .nav-link-btn{
        color: #fff;
        margin-right: 10px;
        text-align: center;
        background: #c5a10f;
        margin-top: 10px;
        text-transform: uppercase;
    }
    .navbar.navbar-dark .nav-link-btn:hover{
        color: #fff;
    }
    .pgm-area{
        padding-top: 120px;
    }
    .pgm-head {
        margin-bottom: 150px;
    }
    .video-text h1{
        max-width: inherit;
    }
    .video-btn{
        margin-bottom: 70px;
    }
    .footer-items-logo{
        text-align: center;
    }
    .footer-area .mail-social-icons{
        margin-top: 10px;
    }
    .janaki-content{
        margin-top: 10px;
    }
    .contact-box{
        margin-bottom: 25px;
    }
}


@media(max-width: 767px){
    .pgm-content3 {
        margin-top: 100px;
    }
    .number-img.number-img3 {
        bottom: -85px;
    }
    .aksharam-text p:last-child{
        margin: 0 0 70px;
    }
    .footer-contact{
        flex-direction: column;
    }
    .footer-menu-area{
        text-align: center;
        margin-top: 15px;
    }
    .footer-contact{
        justify-content: center;
        align-items: center;
    }
    .footer-area .footer-items ul{
        flex-direction: column;
    }
    .footer-area .footer-items ul li{
        padding: .3rem .5rem;
    }
    .popup-img-main{
        display: none;
    }
    .popup-img-main2{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media(max-width: 575px){
    .pgm-image .number-img.number-img1{
        left: -40px;
        height: 100px;
    }
    .pgm-box{
        padding: 70px 35px 50px;
    }
    .pgm-image img{
        left: 30px;
    }
    .pgm-content h1{
        font-size: 28px;
    }
    .pgm-content span{
        font-size: 18px;
    }
    .pgm-content span.sub-head{
        font-size: 25px;
    }
    .pgm-image img.main-img2{
        left: -16px;
    }
    .number-img.number-img2{
        top: -110px;
        right: -5px;
    }
    .number-img.number-img3 {
        bottom: -85px;
        left: -15px;
    }
    .aksharam-text p{
        font-size: 18px;
    }
    .aksharam-btns{
        flex-direction: column;
    }
    .aksharam-btns .btn1{
        margin-right: 0;
        margin-bottom: 60px;
    }
    .video-text h1{
        font-size: 26px;
    }
    .video-sec .center-btn{
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .single-testi{
        padding: 25px;
    }
    .single-testi .content p    {
        padding-right: 0;
        font-size: 18px;
        line-height: 30px;
    }
    /* .about-content p{
        font-size: 22px;
        line-height: 25px;
    } */
    .about-content p{
        font-size: 20px;
        line-height: 25px;
    }
    .about-area{
        padding-bottom: 0;
    }
    .about-content .mobile-scroll{
        max-height: 250px;
        overflow-y: scroll;
    }
    /* #scroll::-webkit-scrollbar{
        width: 5px;
    }
    #scroll::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    #scroll::-webkit-scrollbar-thumb {
        background: #1F806B; 
    } */
    .malayalam-content p{
        font-size: 18px;
    }
    .modal-content-auto{
        padding: 5px;
    }
    .about-link-modal{
        margin-bottom: 15px;
    }

    .modal-auto .modal-dialog{
        margin-top: 30px;
    }
    .about-page-area{
        height: 150px;
    }
    .about-us-area{
        padding-top: 50px;
    }
    .about-us-area .pgm-head{
        margin-bottom: 150px;
    }
    .about-us-area .pattern-pg{
        top: -80px;
    }
    .mv-box{
        padding: 50px 25px;
    }
    .pgm-head2 h1{
        font-size: 25px;
    }
    .hari-head h1{
        font-size: 30px;
    }
    .hari-head span{
        font-size: 22px;
    }
    .ratio-img{
        margin-bottom: 20px;
    }
    .ratio-box{
        margin-bottom: 20px;
    }
    .contact-box {
        margin-bottom: 40px;
    }
    .map-area .map,
    .map-area .map iframe{
        height: 250px;
    }
    .cont_link_box{
        right: 5px;
    }
    .callnow_inte,
    .whatsapp_inte{
        width: 40px;
        height: 40px;
    }
    .callnow_inte svg,
    .whatsapp_inte svg{
        font-size: 20px;
    }
}
