/* ************************************************************
******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 5.0 PRELOADER CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS
:: 9.0 ABOUT AREA CSS
:: 10.0 PROGRAMSS AREA CSS
:: 11.0 ABOUT AKSHARAM CSS 
:: 12.0 TESTIMONIALS AREA CSS
:: 13.0  POPUP AREA
:: 14.0 FOOTER AREA CSS
:: 15.0 AUTO POUP AREA CSS
:: 16.0 ABOUT PAGE CSS
****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');


/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(et-line.css);
@import url(icofont.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(custom-animate.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #1c144e;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION HEADING*/
.section-heading {
    margin-bottom: 60px;
}

.section-heading > h2 {
    position: relative;
}

.section-heading > h2::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 70px;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*HEADINGS*/
.headings span {
    color: #444;
    font-weight: 500;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
    margin-left: -30px;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_80 {
    padding: 80px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_120 {
    padding: 120px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

.color-primary {
    color: #007bff;
}

.color-secondary {
    color: #e03737 !important;
}


/* ******************************
:: 5.0 PRELOADER AREA CSS
****************************** */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff !important;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    #loader {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
    }
}

/* ******************************
:: 6.0 SCROLL TO TOP AREA CSS
****************************** */
#scrollUp {
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: rgb(197, 161, 15);
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
}

#scrollUp > i {
    font-size: 24px;
    line-height: 38px;
    display: block;
    color: #fff;
}

#scrollUp svg{
    color: #fff;
    font-size: 18px;
}

#scrollUp:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: #c5a10f;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar .navbar-nav .nav-link-btn:hover{
    color: #fff !important;
    background-color: #2e2a29;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #fff;
    margin-top: -100px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #ffffffe0;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #2e2a29;
}

.navbar-dark .navbar-nav .nav-link-btn {
    background: #fff;
    color: #333;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1rem 2rem !important;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
    text-shadow: none;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn{
    background-color: #c5a10f;
    color: #fff; 
    margin-top: 5px;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn:hover{
    color: #fff !important;
    background-color: #2e2a29;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #c5a10f;
}
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn.current-menu-item {
    color: #fff;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.navbar-expand-lg .navbar-nav li:last-child{
    margin-left: 10px;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover{
    color: #000000;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-area{
    background-image: url(../img/banner/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

/* ******************************
:: 9.0 ABOUT AREA CSS
****************************** */
/* .about-content p{
    color: #12587e;
    font-family: 'Gayathri', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 25px;
    letter-spacing: 1px;
} */

/* new css */
.about-area{
    padding-bottom: 80px;
}

.about-content p{
    color: #12587e;
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    max-width: 850px;
    margin: 0 auto;
}

/* new close */

.about-link{
    margin-top: 55px;
}

.about-link a{
    background-color: #ea5f4a;
    color: #fff;
    padding: 18px 60px;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.about-link a:hover{
    color: #fff;
    background-color: #c5a10f;
}


/* ******************************
:: 10.0 PROGRAMSS AREA CSS
****************************** */
.pattern-pg{
    background-image: url(../img/bg/slider.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -200px;
    height: 750px;
    width: 100%;
    z-index: -1;
}

.pgm-head h1{
    color: #2a2a2a;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.pgm-head{
    margin-bottom: 100px;
}

.pgm-head2{
    margin-bottom: 150px;
}

.pgm-head h1::before{
    position: absolute;
    content: "";
    background-color: #2f9331;
    height: 4px;
    width: 8%;
    left: 50%;
    bottom: -15px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

.pgm-box{
    background-color: #2f9331;
    padding: 70px 50px 35px;
    border-radius: 10px;
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

.pgm-image{
    flex: 0 0 40%;
    position: relative;
}

.pgm-content{
    flex: 0 0 60%;
    padding-left: 30px;
}

.pgm-image .number-img{
    position: absolute;
    background-image: url(../img/programs/01.png);
    background-repeat: no-repeat;
    height: 110px;
    width: 115px;
    bottom: 135px;
}

.pgm-image .number-img.number-img1{
    left: -20px;
}

.pgm-image img{
    position: relative;
    left: 50px;
    margin-top: -140px;
}

.pgm-content span{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

.pgm-content h1{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px
}

.pgm-content span.sub-head{
    text-transform: none;
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.pgm-content ul{
    margin-top: 30px;
    margin-left: 16px;
    margin-bottom: 30px;
}

.pgm-content ul li{
    list-style: inherit;
    color: #Fff;
    padding-bottom: 20px;
}

.pgm-content ul li a{
    color: #fff;
    font-size: 18px;
}

.pgm-link a{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid #fff;
    padding: 8px 12px;
    transition: all .3s ease;
}

.pgm-link a:hover{
    background-color: #f39f2d;
    border: 1px solid #fff;
}

.pgm-box2{
    background-color: #f39f2d;
    padding-bottom: 50px;
}

.number-img.number-img2{
    background-image: url(../img/programs/02.png);
    top: -30px;
    right: 10px;
}

.pgm-image img.main-img2{
    left: 10px;
}

.pgm-link.pgm-link2 a:hover{
    background-color: #2f9331;
}

.pgm-box3{
    background-color: #ea6154;
    padding-bottom: 40px;
    padding-top: 50px;
}

.number-img.number-img3{
    background-image: url(../img/programs/03.png);
    bottom: 10px;
    left: 50px;
}

.pgm-image3{
    flex: 0 0 55%;
}

.pgm-image3 img{
    left: -40px;
    margin-top: -100px;
}

.pgm-content3{
    flex: 0 0 45%;
    padding-left: 0;
}

.pgm-box4{
    background: #5365b2;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.number-img.number-img4{
    background-image: url(../img/programs/04.png);
    right: 0;
    bottom: 0;
}

.pgm-content ul.ul-last{
    max-width: 400px;
}

.pgm-image4{
    flex: 0 0 50%;
}

.pgm-content4{
    flex: 0 0 50%;
}

.pgm-area{
    padding-bottom: 0;
}

/* ******************************
:: 11.0 ABOUT AKSHARAM CSS 
****************************** */
.about-akharam{
    position: relative;
    padding: 0 0 100px;
    background-color: #e6faff;
    margin-top: 240px;
}

.head-pattern{
    background-image: url(../img/bg/head-pattern.png);
    height: 230px;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -230px;
}

.aksharam-head{
    margin-top: -100px;
    margin-bottom: 40px;
}

.aksharam-head span{
    color: #008896;
    font-size: 40px;
}

.aksharam-head h1{
    font-weight: 600;
    color: #4f4f4f;
    font-size: 50px;
}

.aksharam-text p{
    color: #000000;
    font-size: 20px;
    line-height: 32px;
    max-width: 1000px;
    margin: 0 auto;
}

.aksharam-text p:first-child{
    margin-bottom: 30px;
}

.aksharam-text p:last-child{
    margin:  0 75px;
    margin-bottom: 70px;
}

.aksharam-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aksharam-btns .btn1{
    margin-right: 20px;
}

.btn1 a,
.btn2 a{
    border: 2px solid #ea5f4a;
    padding: 18px 50px;
    font-size: 16px;
    border-radius: 10px;
    transition: all .3s ease;
}

.btn1 a{
    color: #ea5f4a;
    border: 2px solid #ea5f4a;
}

.btn1 a:hover{
    color: #fff;
    background: #ea5f4a;
}

.btn2 a{
    color: #fff;
    background-color: #ea5f4a;
}

.btn2 a:hover{
    color: #ea5f4a;
    background: transparent;
}

.video-area-top{
    margin-top: 100px;
}

.video-text{
    margin-bottom: 100px;
}

.video-text h1{
    color: #464c4e;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    max-width: 355px;
}

.video-text h1::before{
    position: absolute;
    content: "";
    background: #f39f2d;
    height: 4px;
    width: 85px;
    left: 0;
    bottom: -40px;
}

.video-btn a{
    background: #f39f2d;
    color: #fff;
    padding: 18px 45px;
    border-radius: 10px;
    font-size: 18px;
    transition: all .3s ease;
}

.video-btn a:hover{
    color: #fff;
    background: #2e2a29;
}

.video-sec{
    position: relative;
}

.video-sec .center-btn{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    cursor: pointer;
}

/* ******************************
:: 12.0 TESTIMONIALS AREA 
****************************** */
.testi-section{
    background-color: #f4fdff;
    padding: 100px 0;
}

.testi-area-top{
    margin-top: 100px;
}

.testi-head{
    margin-bottom: 50px;
}

.testi-head h2{
    color: #464c4e;
    font-weight: 700;
    font-size: 35px;
}

.single-testi{
    background-color: #fff;
    /* box-shadow: 0 4px 8px 2px rgba(248, 254, 255, 0.15); */
    box-shadow: 0 4px 8px 4px rgb(113 187 206 / 22%);
    padding: 50px;
    border-radius: 10px;
    margin: 10px;
}


.single-testi .icon{
    margin-bottom: 20px;
}

.single-testi .content p{
    color: #000000;
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
    margin-bottom: 35px;
    padding-right: 45px;
}

.client-details h3{
    color: #57939e;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.client-details span{
    color: #484848;
    font-weight: 600;
    font-size: 15px;
}

.owl-dots {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.owl-dots button {
    background-color: #bbc9cc !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 6px;
    position: relative;
    outline: none;
}

.owl-dots button.active {
    background-color: #57939e !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
}

/* ******************************
:: 13.0  POPUP AREA 
****************************** */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #2e2a29;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
    transition: all .3s ease;
}

.download-close:hover{
    background: #c5a10f;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #c5a10f 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #193d6f;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #9b1b44;
    color: #193d6f;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a{
    background: #ea5f4a;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
    transition: all .3s;
}

.popup-btn a:hover{
    background-color: #c5a10f;
    color: #fff;
}

.popup-btn{
    margin-top: 20px;
}

.modal.fade .modal-dialog{
    display: flex;
}

.popup-img-main{
    background-color: #2f9331;
}

.popup-img img{
    width: 280px;
}



/* ******************************
:: 14.0 FOOTER AREA CSS
****************************** */
.footer-area {
    /* background-color: #c5a10f; */
    background-color: #434446;
}

.copyright-area {
    /* border-top: 1px solid #e0cc7d; */
    border-top: 1px solid #77787a;
    color: rgba(255, 255, 255, 0.8);
}

.footer-top{
    padding: 50px 0 35px;
}

.footer-area  .footer-items-menu{
    /* border-top: 1px solid #e0cc7d; */
    border-top: 1px solid #77787a;
    padding-top: 20px;
}

.footer-area  .footer-items ul{
    display: flex;
}

.footer-area  .footer-items ul li a{
    font-size: 16px;
    text-transform: uppercase;
}

.footer-area .footer-items a:hover,
.footer-area .footer-items a:focus,
.footer-area .copyright-area a:hover,
.footer-area .copyright-area a:focus {
    color: rgb(197, 161, 15) !important;
}

.footer-area .mail-social-icons{
    display: flex;
    margin-top: 32px;
    flex-direction: column;
}

.footer-area .mail-social-icons .number-box{
    display: flex;
    height: 50px;
    align-items: center;
}

.number-box .icon{
    border-right: 1px solid #ddd;
    padding-right: 20px;
    height: 50px;
    line-height: 45px;
}

.number-box .number{
    padding-left: 20px;
}

.number-box .number a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.footer-area .mail-social-icons .social{
    display: flex;
}

.footer-area .mail-social-icons .social a.mail{
    font-size: 18px;
    margin-right: 40px;
}

.footer-area .mail-social-icons a:hover{
    color: rgb(197, 161, 15) !important;
}

.footer-area .mail-social-icons ul{
    display: flex;
}

.footer-area .mail-social-icons ul li a{
    font-size: 18px;
    margin-right: 10px;
}

.copyright-area a img{
    max-width: 100px;
}

.footer-contact{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.footer-contact .contact h3{ 
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.footer-contact .contact p{
    color: #ffffffd6;
    font-size: 17px;
    max-width: 350px;
}

/* ******************************
:: 15.0 AUTO POUP AREA CSS
****************************** */
.malayalam-content p{
    color: #12587e;
    font-family: 'Gayathri', sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 50px;
    color: #fff;
}

.modal-content-auto{
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    background-image: url(../img/bg/shape-popup.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #c5a10f;
}

.modal-content-auto .modal-body .close{
    color: #fff !important;
    opacity: inherit !important;
    font-weight: 400 !important;
}

.modal-auto{
    overflow-y: scroll;
    background-color: rgba(0,0,0,.7);
}

.about-link-modal{
    margin-top: 40px;
}

.about-link-modal a{
    opacity: inherit;
    float: inherit;
    font-weight: 500;
    padding: 15px 50px;
    background-color: #434446;
}

.about-link-modal a:hover{
    background-color: #000000;
}

/* ******************************
:: 16.0 ABOUT PAGE CSS
****************************** */
.about-page-area{
    background-image: url(../img/about/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 415px;
    z-index: 10;
}

.about-us-area{
    position: relative;
    z-index: 11;
}

.about-us-area .pattern-pg{
    top: -20px;
}

.first-green-text{
    margin: 120px 0 50px;
}

.first-green-text p{
    color: #015409;
    font-size: 25px;
    line-height: 38px;
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
}

.second-black-text{
    margin-bottom: 35px;
}

.third-black-text{
    margin-bottom: 50px;
}

.second-black-text p,
.third-black-text p{
    color: #000000;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.mission-vision{
    margin-top: 50px;
}

.mv-box{
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 40px;
}

.logo-mv{
    margin-bottom: 10px;
}

.head-mv h1{
    color: #565656;
    font-weight: 700;
    font-size: 35px;
    position: relative;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.content-mv p{
    color: #000000;
    font-size: 18px;
    line-height: 28px;
}

.janaki-head h2{
    color: #565656;
    font-weight: 700;
    font-size: 35px;
    position: relative;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.janaki-content p{
    color: #000000;
    font-size: 17px;
    line-height: 28px;
}

.janaki-content p.frst-para{
    margin-bottom: 25px;
}

.janaki-underpara{
    margin-top: 25px;
}

.janaki-underpara p{
    color: #000000;
    font-size: 17px;
    line-height: 28px;
}

.janaki-underpara p.frst-para{
    margin-bottom: 25px;
}

.janaki-img,
.janaki-content{
    margin-top: -80px;
}